<%= content_for(:title,  '编辑订单| Chain') %>
<section class="content-header">
  <h1>
    编辑订单
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-sheqel"></i> 订单管理</a></li>
    <li><i class="glyphicon glyphicon-edit"></i> 编辑订单</li>
  </ol>
</section>
<section class="content">
  <div style="padding-top: 10px">
    <div class="box box-warning">
      <div class="box-header">

      </div>
      <%= render 'form' %>
    </div>
  </div>
</section>