<%= content_for(:title,  '添加订单 | Chain') %>
<section class="content-header">
  <h1>
    添加订单
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-sheqel"></i> 订单管理</a></li>
    <li class="active"><i class="glyphicon glyphicon-plus"></i> 添加订单</li>
  </ol>
</section>
<section class="content">
  <div style="padding-top: 10px">
    <div class="box box-success">
      <div class="box-header">

      </div>
      <%= render 'form' %>
    </div>
  </div>
</section>
