<%= content_for(:title,  '更新收益策略| BLOCK') %>
<section class="content-header">
  <h1>
    更新收益策略
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 收益策略</a></li>
    <li><i class="glyphicon glyphicon-edit"></i> 编辑</li>
  </ol>
</section>
<section class="content">
  <div style="padding-top: 10px">
    <div class="box box-warning">
      <div class="box-header">
      </div>
      <%= render 'form' %>
    </div>
  </div>
</section>