<%= content_for(:title,  '新增收益策略 | BLOCK') %>
<section class="content-header">
  <h1>
    新增收益策略
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 收益策略</a></li>
    <li class="active"><i class="glyphicon glyphicon-plus"></i> 新增</li>
  </ol>
</section>
<section class="content">
  <div style="padding-top: 10px">
    <div class="box box-success">
      <div class="box-header">
      </div>
      <%= render 'form' %>
    </div>
  </div>
</section>
