<%= content_for(:title,  '编辑余额| BLOCK') %>
<section class="content-header">
  <h1>
    余额
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-gg-circle"></i> 余额管理</a></li>
    <li><i class="glyphicon glyphicon-edit"></i> 编辑余额</li>
  </ol>
</section>
<section class="content">
  <div style="padding-top: 10px">
    <div class="box box-warning">
      <div class="box-header">
      </div>
      <%= render 'form' %>
    </div>
  </div>
</section>