<%= content_for(:title,  '添加新余额 | BLOCK') %>
<section class="content-header">
  <h1>
    添加余额
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-gg-circle"></i> 余额管理</a></li>
    <li class="active"><i class="glyphicon glyphicon-plus"></i> 添加新余额</li>
  </ol>
</section>
<section class="content">
  <div style="padding-top: 10px">
    <div class="box box-success">
      <div class="box-header">

      </div>
      <%= render 'form' %>
    </div>
  </div>
</section>
