<%= content_for(:title, @chain.block + '编辑历史行情| BLOCK') %>
<section class="content-header">
  <h1>
    价格行情
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 价格行情管理</a></li>
    <li><i class="glyphicon glyphicon-edit"></i> 编辑价格</li>
  </ol>
</section>
<section class="content">
  <div style="padding-top: 10px">
    <div class="box box-warning">
      <div class="box-header">
        <h3 class="box-title">编辑表单</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</section>